.side-menu-side-menu {
  width: 350px;
  height: 916px;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: flex-start;
  background-color: #D9D9D9;
}
.side-menu-container {
  flex: 1;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.side-menu-root-class-name {
  background-color: #7b7b7b;
}
@media(max-width: 479px) {
  .side-menu-root-class-name {
    display: none;
  }
}
